<html>
    <head>
        <title>Javascript</title>
    </head>
    <body>
         <button onclick="alert('Welcome to Wscube')">Save</button>
         <button onclick="document.write('Prank with you')">Prank</button>
    </body>
    <script>
         /*document.write("<h1>");
             document.write("Welcome To WsCube");
         document.write("</h1>");*/
         /*document.write("<h1>","welcome to wscube h1","</h1>");*/
         var num1=40;
         var num2=50;
         num1=num1+num2;
         num2=num1-num2;
         num1=num1-num2;
         document.write("Num1 :"+ num1 +" "+"Num2 :"+num2);
        /* document.write((num1+num2)*num1);*/
         var stg="Hello";
         var stg2="wscube";
        /* document.write(stg+stg2+num1+num2);
         document.write("10"+30);*/
    </script>
</html>