<html>
    <head>
        <title>Javascript</title>
    </head>
    <body>
         <button onclick="alert('Welcome to Wscube')">Save</button>
         <button onclick="document.write('Prank with you')">Prank</button>
         <br/>
    </body>
    <script>
           for(let i=1;i<=5;i++){
            if(i==1)
           {
            document.write("R<br/>");
           }
           else if(i==2){
            document.write("RO<br/>");
           }
            else if(i==3){
                document.write("RON<br/>");
            }
            else if(i==4){
                document.write("RONA<br/>")
            }
            else{
                document.write("RONAK<br/>");
            }
           }
           
    </script>
</html>