<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>operator question</title>
</head>
<body></body>
<script>
    let a=10;
    let b=20;
    alert(a+b);
     
    let num1=window.prompt("Enter Number :");
    let num2=window.prompt("Enter number : ");
    console.log(parseInt(num1)+parseInt(num2));
    console.log(typeof num1,typeof num2);

    let x="20";
    console.log(x*10,typeof x);
    let bool=true;
    console.log(bool+"hello");
    console.log((10==10&&x=='20')+10);
    console.log(!(10!=10||10<5)*1);
    console.log("10"-true);
    console.log("true"-"false");
    let eq=eval("10+20*10-80");
    console.log(eq,typeof eq);

    let str="ronak";
    let str1="ronak";
    if(str===str1){
        console.log(str,str1,typeof(str,str1));
    }

    let p=10;
    let q=5;
    let d=30;
    console.log(p<q<d);
    console.log(((10==10&&10<5)||(20!=10&&20==20)));
    
</script>
</html>