<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Operator</title>
</head>
<body>
      <button onclick="ronak()">calculate</button>
      <form>
        <div>
            <input type="text" />
            <button type="submit">submit</button>
        </div>
    </form>
      
</body>
<script>
   /* let num1=10,num2=5;
    console.log(num1+num2);
    console.log(num1-num2);
    console.log(num1*num2);
    console.log(num1/num2);
    console.log(num1%num2);
    console.log((num1++)+(num1++));
    console.log(num1);
    console.log(++num1+num2);
    console.log(num2--);
    console.log(num2);
    console.log(num1%3);*/
   /* let a=10;
    let b='20';
    let c='10';
    let d=20;
    console.log(a==b);
    console.log(c===a);
    console.log(a>d && c===d);
    console.log(d<a || a!=b);
    console.log(!a<b);
    console.log(a>=b);
    console.log(a<=b);
    console.log(a!=b);
   console.log(a===c);
   console.log(b>a);
   console.log(b>=d);
   console.log(b!=a);*/
   /*let a="120";
   let b="20";
   let c="10";
   console.log(a/b*c);*/
   /*let a=10;
   let b=20;
   let c=30;
   a*=b+=c;
   console.log(a);*/
   /*let a,b,c,d,e;
   a=b=c=d=e=5;
   console.log(a+b+c+d+e);*/
   /*function ronak(){
   let num1=window.prompt( "number");
   let num2=window.prompt("enter second number:");
   num1=parseInt(num1);
   num2=parseInt(num2);
   document.write("Addition of two number" ," ", num1+num2)
   }*/
  /*let username="admin",password="1";
  console.log((username=='admin'&&password=='1')||(username=="0"&&password=="1"));
console.log(username=="admin"||password=="0")
console.log(!(username=="admin"&&password=="0"));*/
    function ronak(){
        let num1=window.prompt("enter number");
        num1=parseInt(num1);
        let num2=num1%2==0?"Even Number":"odd number";
        document.write(num2);

    }
</script>
</html>